.container h2 {
    font-size: 68px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

@media (max-width: 576px) {
    .container h2 {
        font-size: 52px;
    }

}